<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Imprint MT Shadow:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="timeless-desktop-1">
      <img
        class="timeless-desktop-1-child"
        loading="eager"
        alt=""
        src="./public/line-1.svg"
      />

      <div class="frames-collection">
        <div class="project-title-frame">
          <div class="inner-frames">
            <div class="project-title">PROJECT TITLE</div>
            <div class="primary-lines"></div>
          </div>
        </div>
        <div class="nested-frames">
          <input class="sub-title-rectangles" type="text" />
        </div>
        <div class="nested-frames1">
          <input class="nested-frames-child" type="text" />
        </div>
        <input class="nested-frames2" type="text" />

        <input class="nested-frames3" type="text" />
      </div>
      <section class="line-pair">
        <div class="title-frames">
          <div class="line-triple">
            <div class="line-triple-child"></div>
            <img
              class="rectangle-cluster-icon"
              loading="eager"
              alt=""
              src="./public/line-9.svg"
            />

            <img
              class="horizontal-lines-icon"
              alt=""
              src="./public/horizontal-lines.svg"
            />
          </div>
          <div class="frame-with-text">
            <div class="title">TITLE</div>
            <div class="line-pair-frames">
              <div class="vertical-line-pairs"></div>
              <div class="vertical-line-pairs1"></div>
              <div class="third-level-frame">
                <div class="final-rectangle"></div>
                <div class="nested-layout-frames">
                  <div class="title-lines"></div>
                  <div class="title-lines1"></div>
                  <div class="title-lines2"></div>
                </div>
                <div class="rectangle-shape">
                  <input class="project-subtitle" type="text" />
                </div>
              </div>
            </div>
          </div>
        </div>